.container {
  width: 70%;
  margin: auto;
  padding: 40px;
  background: white;
  margin-top: 60px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  font-size: 15px;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  width: 40%;
  padding: 15px;
  font-size: 18px;
  background: #2f73ff;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
